.App {
  text-align: center;
  background-image: url("https://www.google.com/imgres?imgurl=https%3A%2F%2Fwww.gays.com%2Fcommunity%2Fuploads%2Fmonthly_2016_12%2F58453a9d6dfd7_Untitleddesign(10).jpg.d8a23678f5c21ada07024bdbdf21ef38.jpg&imgrefurl=https%3A%2F%2Fwww.gays.com%2Fmagazine%2Frecords%2Fsecret-history-of-the-dildo%2F&tbnid=crxyJn1MTgky3M&vet=12ahUKEwi0m7Hjy4j6AhWrnWoFHUhtAIAQMyhOegQIARBb..i&docid=H7BtI3g3eOlzTM&w=730&h=330&q=historic%20dildo&ved=2ahUKEwi0m7Hjy4j6AhWrnWoFHUhtAIAQMyhOegQIARBb");
}

#App {
  background-image: url("https://www.google.com/imgres?imgurl=https%3A%2F%2Fwww.gays.com%2Fcommunity%2Fuploads%2Fmonthly_2016_12%2F58453a9d6dfd7_Untitleddesign(10).jpg.d8a23678f5c21ada07024bdbdf21ef38.jpg&imgrefurl=https%3A%2F%2Fwww.gays.com%2Fmagazine%2Frecords%2Fsecret-history-of-the-dildo%2F&tbnid=crxyJn1MTgky3M&vet=12ahUKEwi0m7Hjy4j6AhWrnWoFHUhtAIAQMyhOegQIARBb..i&docid=H7BtI3g3eOlzTM&w=730&h=330&q=historic%20dildo&ved=2ahUKEwi0m7Hjy4j6AhWrnWoFHUhtAIAQMyhOegQIARBb");
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
